*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 80px;
    align-items: center;
    justify-content: end;
}
.navbar-list{
    display: flex;
    flex-direction: row;
    margin: auto 20px;
    list-style-type: none;
    gap: 0 20px;
}
.navbar-list-item >a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.form{
    display: flex;
    flex-direction: column;
    width: 460px;
    margin: 0 auto;
    padding: 50px 40px;
    gap: 5px 0;
    border: 1px solid black;
}
.form > label{
    font-size: 16px;
    margin-top: 5px;
}
.form > .form-input{
    height: 30px;
    width: 100%;
    outline: none;
    border: 1px solid black;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 16px;
}
#edad{
    width: 150px;
    padding: 0 5px 0 10px;
}
.form > .form-send{
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 400px;
    margin: 20px auto 0 auto;
    cursor: pointer;
    font-size: 18px;
}
